<h1><%= @place["name"] %> </h1>
 
<h2>
  <% for post in @posts %>
    <li>
      <%= post["title"] %>
    </li>
  <% end %>
</h2>

<p>
  <a href="/posts/new">New post</a>
</p>


 <p>
    <a href="/places">Back to all places</a>
 </p>